# Duck iris prediction

In [20]:
%load_ext magic_duckdb

The magic_duckdb extension is already loaded. To reload it, use:
  %reload_ext magic_duckdb

In [21]:
import duckdb

# Open a connection to your DuckDB database
con = duckdb.connect("my-data.duckdb")

In [22]:
%%dql -co con
CREATE TABLE IF NOT EXISTS birds AS SELECT * FROM read_csv('../../data/birds.csv');
CREATE TABLE IF NOT EXISTS ducks AS SELECT * FROM read_csv('../../data/ducks.csv');

Empty DataFrame
Columns: [Count]
Index: []

In [82]:
%%dql -co con
-- create raw training data
CREATE OR REPLACE TABLE prepared_data AS
SELECT
    Species_Common_Name as species,
    Beak_Width AS beak_width,
    Beak_Length_Culmen AS beak_length,
    Wing_Length AS wing_length,
    Tail_Length AS tail_length
FROM birds
INNER JOIN ducks ON name = Species_Common_Name
WHERE (beak_width is not null and beak_length is not null and wing_length is not null and tail_length is not null)
and (species like 'Harlequin%' or species like 'Egyptian%' or species like 'Pink%' or species like 'King%' or species like 'Muscovy%'
or species like 'Fueg%' or species like 'Smew%' or species like 'Laysan%');

-- create target mapping
CREATE OR REPLACE TABLE target_mapping AS
SELECT species,
       ROW_NUMBER() OVER (ORDER BY species) - 1 AS target
FROM (SELECT DISTINCT species FROM prepared_data);

-- create ml features
CREATE OR REPLACE TABLE ml_data AS
SELECT
    t.target as y,
    [p.beak_width, p.beak_length, p.wing_length, p.tail_length] as X
FROM prepared_data p
JOIN target_mapping t ON p.species = t.species;

   Count
0     48

# SQL Sampling

In [83]:
%%dql -co con
ALTER TABLE ml_data ADD COLUMN IF NOT EXISTS random_value DOUBLE;
UPDATE ml_data SET random_value = random();

   Count
0     48

In [84]:
%%dql -co con
CREATE OR REPLACE TABLE train_data AS
WITH stratified_data AS (
    SELECT *,
           ROW_NUMBER() OVER (PARTITION BY y ORDER BY random_value) AS row_num,
           COUNT(*) OVER (PARTITION BY y) AS class_count
    FROM ml_data
)
SELECT
    y, X
FROM stratified_data
WHERE row_num <= CEIL(0.65 * class_count);

   Count
0     33

In [85]:
%%dql -co con
from prepared_data

                 species  beak_width  beak_length  wing_length  tail_length
0         Egyptian goose        22.2         53.0        403.0        140.0
1         Egyptian goose        21.7         45.2        392.0        148.0
2         Egyptian goose        19.1         45.2        360.0        113.0
3         Egyptian goose        20.5         48.0        350.0        112.0
4         Egyptian goose        20.3         62.7        344.0        138.0
5         Egyptian goose        20.7         55.5        287.0        122.0
6            Laysan duck        13.8         43.0        204.0         98.0
7            Laysan duck        14.6         46.0        213.0         72.0
8            Laysan duck        14.4         44.0        198.0         70.0
9            Laysan duck        12.7         41.1        184.0         94.0
10           Laysan duck        11.9         37.7        185.0         89.0
11           Laysan duck        14.2         47.5        207.0         93.0
12          Muscovy duck        20.5         59.1        272.0        151.0
13          Muscovy duck        20.8         57.1        305.0        124.0
14          Muscovy duck        23.9         71.1        323.0        190.0
15          Muscovy duck        26.7         70.4        397.0        182.0
16          Muscovy duck        19.4         63.7        299.0        127.0
17          Muscovy duck        25.7         74.0        414.0        191.0
18          Muscovy duck        21.2         66.2        361.0        159.0
19          Muscovy duck        20.6         60.3        329.0        141.0
20          Muscovy duck        24.3         71.5        405.0        177.0
21        Harlequin duck        12.5         25.9        196.0         96.0
22        Harlequin duck        12.8         24.1        192.0         80.0
23        Harlequin duck        11.4         26.6        185.0         78.0
24        Harlequin duck        11.0         25.9        187.0         80.0
25        Harlequin duck        15.4         31.4        203.0        103.0
26        Harlequin duck        13.2         29.7        201.0         88.0
27       Pink-eared duck        15.6         73.4        194.0         81.0
28       Pink-eared duck        15.6         72.2        185.0         72.0
29       Pink-eared duck        15.7         68.1        170.0         61.0
30       Pink-eared duck        14.2         63.7        184.0         60.0
31       Pink-eared duck        13.5         61.5        180.0         58.0
32       Pink-eared duck        17.5         66.8        189.0         61.0
33                  Smew         8.6         32.4        193.0         67.0
34                  Smew         8.2         25.5        173.0         60.0
35                  Smew         6.8         28.1        170.0         61.0
36                  Smew         8.4         31.0        201.0         69.0
37                  Smew         8.7         37.5        193.0         75.0
38                  Smew         8.9         37.7        194.0         90.0
39            King eider        16.9         34.8        272.0         80.0
40            King eider        18.0         32.5        261.0         72.0
41            King eider        19.0         34.6        269.0         77.0
42            King eider        17.6         33.1        268.0         75.0
43  Fuegian steamer duck        30.7         71.7        255.0        104.0
44  Fuegian steamer duck        29.1         56.0        263.0         88.0
45  Fuegian steamer duck        34.3         58.2        288.0         99.0
46  Fuegian steamer duck        31.4         61.4        264.0         97.0
47  Fuegian steamer duck        31.7         53.4        234.0         85.0

In [86]:
%%dql -co con
CREATE OR REPLACE TABLE test_data AS
SELECT
    y, X
FROM ml_data
EXCEPT
SELECT
    y, X
FROM train_data;

   Count
0     15

In [87]:
df = con.execute("""SELECT * FROM train_data ORDER BY y""").fetchnumpy()
X = df['X'].tolist()
y = df['y'].tolist()

In [88]:
# sklearn training
from sklearn import tree
classifier=tree.DecisionTreeClassifier()
classifier.fit(X,y)

# Register sklearn model in Python UDF
def predict_duck(X):
    pred = classifier.predict([X])[0]
    return int(pred)

con.create_function("predict_duck", predict_duck, ['DOUBLE[]'], 'INTEGER')

In [89]:
%%dql -co con
FROM test_data ORDER BY y

    y                           X
0   0  [21.7, 45.2, 392.0, 148.0]
1   0  [20.3, 62.7, 344.0, 138.0]
2   1   [31.4, 61.4, 264.0, 97.0]
3   2   [12.5, 25.9, 196.0, 96.0]
4   2  [15.4, 31.4, 203.0, 103.0]
5   3   [16.9, 34.8, 272.0, 80.0]
6   4   [13.8, 43.0, 204.0, 98.0]
7   4   [14.2, 47.5, 207.0, 93.0]
8   5  [23.9, 71.1, 323.0, 190.0]
9   5  [20.5, 59.1, 272.0, 151.0]
10  5  [20.6, 60.3, 329.0, 141.0]
11  6   [14.2, 63.7, 184.0, 60.0]
12  6   [15.6, 73.4, 194.0, 81.0]
13  7    [8.9, 37.7, 194.0, 90.0]
14  7    [8.6, 32.4, 193.0, 67.0]

In [90]:
%%dql -co con
-- make predictions on test data
CREATE OR REPLACE TABLE predictions AS SELECT y, predict_duck(X) as y_pred FROM test_data

   Count
0     15

In [91]:
%%dql -co con
-- evaluate model on test sample
SELECT
    COUNT(*) AS total_predictions,
    SUM(CASE WHEN y = y_pred THEN 1 ELSE 0 END) AS correct_predictions,
    CAST(SUM(CASE WHEN y = y_pred THEN 1 ELSE 0 END) AS FLOAT) / COUNT(*) AS accuracy
FROM predictions;

   total_predictions  correct_predictions  accuracy
0                 15                 13.0  0.866667

In [92]:
con.close()