# Duck iris prediction

In [1]:
%load_ext magic_duckdb

In [2]:
import duckdb

# Open a connection to your DuckDB database
con = duckdb.connect("data/my-data.duckdb")

In [3]:
%%dql -co con
-- get raw training data
CREATE OR REPLACE TABLE prepared_data AS
SELECT * FROM duck_iris;

-- create target mapping
CREATE OR REPLACE TABLE target_mapping AS
SELECT species,
       ROW_NUMBER() OVER (ORDER BY species) - 1 AS target
FROM (SELECT DISTINCT species FROM prepared_data);

-- create ml features
CREATE OR REPLACE TABLE ml_data AS
SELECT
    t.target as y,
    [p.beak_width, p.beak_length, p.wing_length, p.tail_length, p.tarsus_length] as X
FROM prepared_data p
JOIN target_mapping t ON p.species = t.species;

   Count
0     48

# SQL Sampling

In [4]:
%%dql -co con
ALTER TABLE ml_data ADD COLUMN IF NOT EXISTS random_value DOUBLE;
UPDATE ml_data SET random_value = random();

   Count
0     48

In [5]:
%%dql -co con
CREATE OR REPLACE TABLE train_data AS
WITH stratified_data AS (
    SELECT *,
           ROW_NUMBER() OVER (PARTITION BY y ORDER BY random_value) AS row_num,
           COUNT(*) OVER (PARTITION BY y) AS class_count
    FROM ml_data
)
SELECT
    y, X
FROM stratified_data
WHERE row_num <= CEIL(0.65 * class_count);

   Count
0     33

In [6]:
%%dql -co con
from prepared_data

,species,beak_width,beak_length,wing_length,tail_length,tarsus_length
0,Egyptian goose,22.2,53.0,403.0,140.0,86.5
1,Egyptian goose,21.7,45.2,392.0,148.0,75.3
2,Egyptian goose,19.1,45.2,360.0,113.0,70.0
3,Egyptian goose,20.5,48.0,350.0,112.0,73.5
4,Egyptian goose,20.3,62.7,344.0,138.0,75.4
5,Egyptian goose,20.7,55.5,287.0,122.0,74.1
6,Laysan duck,13.8,43.0,204.0,98.0,34.4
7,Laysan duck,14.6,46.0,213.0,72.0,35.6
8,Laysan duck,14.4,44.0,198.0,70.0,34.5
9,Laysan duck,12.7,41.1,184.0,94.0,33.6
10,Laysan duck,11.9,37.7,185.0,89.0,33.6
11,Laysan duck,14.2,47.5,207.0,93.0,34.7
12,Muscovy duck,20.5,59.1,272.0,151.0,46.7
13,Muscovy duck,20.8,57.1,305.0,124.0,47.8
14,Muscovy duck,23.9,71.1,323.0,190.0,59.5
15,Muscovy duck,26.7,70.4,397.0,182.0,70.2
16,Muscovy duck,19.4,63.7,299.0,127.0,43.4
17,Muscovy duck,25.7,74.0,414.0,191.0,66.8
18,Muscovy duck,21.2,66.2,361.0,159.0,59.3
19,Muscovy duck,20.6,60.3,329.0,141.0,48.1
20,Muscovy duck,24.3,71.5,405.0,177.0,64.3
21,Harlequin duck,12.5,25.9,196.0,96.0,32.1
22,Harlequin duck,12.8,24.1,192.0,80.0,30.0
23,Harlequin duck,11.4,26.6,185.0,78.0,31.5
24,Harlequin duck,11.0,25.9,187.0,80.0,30.6
25,Harlequin duck,15.4,31.4,203.0,103.0,37.9
26,Harlequin duck,13.2,29.7,201.0,88.0,36.1
27,Pink-eared duck,15.6,73.4,194.0,81.0,32.5
28,Pink-eared duck,15.6,72.2,185.0,72.0,34.7
29,Pink-eared duck,15.7,68.1,170.0,61.0,31.8
30,Pink-eared duck,14.2,63.7,184.0,60.0,32.3
31,Pink-eared duck,13.5,61.5,180.0,58.0,30.0
32,Pink-eared duck,17.5,66.8,189.0,61.0,29.6
33,Smew,8.6,32.4,193.0,67.0,30.0
34,Smew,8.2,25.5,173.0,60.0,27.0
35,Smew,6.8,28.1,170.0,61.0,27.7
36,Smew,8.4,31.0,201.0,69.0,26.5
37,Smew,8.7,37.5,193.0,75.0,33.7
38,Smew,8.9,37.7,194.0,90.0,36.4
39,King eider,16.9,34.8,272.0,80.0,49.5
40,King eider,18.0,32.5,261.0,72.0,41.5
41,King eider,19.0,34.6,269.0,77.0,39.8
42,King eider,17.6,33.1,268.0,75.0,41.0
43,Fuegian steamer duck,30.7,71.7,255.0,104.0,70.2
44,Fuegian steamer duck,29.1,56.0,263.0,88.0,58.0
45,Fuegian steamer duck,34.3,58.2,288.0,99.0,64.5
46,Fuegian steamer duck,31.4,61.4,264.0,97.0,59.0
47,Fuegian steamer duck,31.7,53.4,234.0,85.0,60.0

In [7]:
%%dql -co con
CREATE OR REPLACE TABLE test_data AS
SELECT
    y, X
FROM ml_data
EXCEPT
SELECT
    y, X
FROM train_data;

   Count
0     15

In [8]:
df = con.execute("""SELECT * FROM train_data ORDER BY y""").fetchnumpy()
X = df['X'].tolist()
y = df['y'].tolist()

In [9]:
# sklearn training
from sklearn import tree
classifier=tree.DecisionTreeClassifier()
classifier.fit(X,y)

# Register sklearn model in Python UDF
def predict_duck(X):
    pred = classifier.predict([X])[0]
    return int(pred)

con.create_function("predict_duck", predict_duck, ['DOUBLE[]'], 'INTEGER')

/var/folders/r7/h8c47kyx6z3d9f_0gwz30jmw0000gq/T/ipykernel_96310/1721558715.py:11: DeprecationWarning: numpy.core is deprecated and has been renamed to numpy._core. The numpy._core namespace contains private NumPy internals and its use is discouraged, as NumPy internals can change without warning in any release. In practice, most real-world usage of numpy.core is to access functionality in the public NumPy API. If that is the case, use the public NumPy API. If not, you are using NumPy internals. If you would still like to access an internal attribute, use numpy._core.multiarray.
  con.create_function("predict_duck", predict_duck, ['DOUBLE[]'], 'INTEGER')

In [10]:
%%dql -co con
FROM test_data ORDER BY y

    y                                 X
0   0  [21.7, 45.2, 392.0, 148.0, 75.3]
1   0  [20.5, 48.0, 350.0, 112.0, 73.5]
2   1   [29.1, 56.0, 263.0, 88.0, 58.0]
3   2   [11.4, 26.6, 185.0, 78.0, 31.5]
4   2   [11.0, 25.9, 187.0, 80.0, 30.6]
5   3   [17.6, 33.1, 268.0, 75.0, 41.0]
6   4   [13.8, 43.0, 204.0, 98.0, 34.4]
7   4   [11.9, 37.7, 185.0, 89.0, 33.6]
8   5  [20.8, 57.1, 305.0, 124.0, 47.8]
9   5  [20.6, 60.3, 329.0, 141.0, 48.1]
10  5  [19.4, 63.7, 299.0, 127.0, 43.4]
11  6   [13.5, 61.5, 180.0, 58.0, 30.0]
12  6   [15.6, 73.4, 194.0, 81.0, 32.5]
13  7    [8.4, 31.0, 201.0, 69.0, 26.5]
14  7    [6.8, 28.1, 170.0, 61.0, 27.7]

In [11]:
%%dql -co con
-- make predictions on test data
CREATE OR REPLACE TABLE predictions AS SELECT y, predict_duck(X) as y_pred FROM test_data

   Count
0     15

In [12]:
%%dql -co con
-- evaluate model on test sample
SELECT
    COUNT(*) AS total_predictions,
    SUM(CASE WHEN y = y_pred THEN 1 ELSE 0 END) AS correct_predictions,
    CAST(SUM(CASE WHEN y = y_pred THEN 1 ELSE 0 END) AS FLOAT) / COUNT(*) AS accuracy
FROM predictions;

   total_predictions  correct_predictions  accuracy
0                 15                 11.0  0.733333

In [13]:
con.close()